@import 'tailwindcss';
@plugin '../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #121212;
  --foreground: #ecedee;
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--foreground);
  --color--primary: #006fee;
  --color-gray-900: #18181b;
  --color-gray-800: #27272a;
  --font-inter: var(--font-inter);

  --radius-large: 14px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
