PORT= //port number
MONGODB_USER= // mongodb username
MONGODB_PASSWORD= // mongodb password
MONGODB_URL= // db url
MONGODB_DB= // db name

OPENAI_API_KEY= //OpenAI API key

JWT_SECRET= // JWT secret string